.cabecalho{
    background-color: brown;
    color: white;
}
.principal{
    background-color: grey;
    color: antiquewhite;
}
.rodape{
    background-color: black;
    color: rgb(6, 53, 12);
    text-align: center;
}
#carmo{
    width: 400px;
}